<div class="table-responsive">
    <div class="float-end mb-3">
        <button class="btn btn-primary" data-bs-target="#addSection" data-bs-toggle="modal"><i class="align-middle" data-feather="plus"></i> Ajouter une section</button>
    </div>
    <table class="table table-striped">
        <thead class="">
            <caption>List des sections</caption>
            <tr>
                <th>Nom de la section</th>
            </tr>
        </thead>
        <tbody class="">

        </tbody>
    </table>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addSection" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleaddSection" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleaddSection">Ajouter une section</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="mb-3">
                    
                        <label for="nom" class="form-label">Nom de la section</label>
                        <input type="text" class="form-control" name="nom" id="nom" aria-describedby="helpId"
                            placeholder="Nom de la section">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>